# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll #需要opencv相关dll，不能忽略

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib  #需要opencv库，不能忽略

# Executables
*.exe
*.out
*.app

#忽略文件夹
/Layout_GA/x64/*  #编译过程中间文件夹
/ipch/*
/.vs/*

#忽略文件
*.sdf
*.suo
*.jpg
*.pdb
*.ipdb
*.ilk